.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #100f0f;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
}

.header-logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fbf9f9;
}
.header-logo :hover{
  text-decoration:#000;
  color: #23b34a;
  font-size: 1.8rem;
  transition: color 0.2s ease-in-out;
}

.header-path {
  display: flex;
  gap: 20px;
  font-weight: solid;
}

.header-path a {
  text-decoration: none;
  color: #555;
  font-size: 1rem;
  transition: color 0.2s ease-in-out;
}

.header-path a:hover {
  color: #000;
}
