.section_text{
  align-self: center;
  text-align: center;
}

.section_text p{
  font-weight: 600;;
}

.section_text_p1{
  text-align: center;
  margin-bottom: 0.5rem;
}
.section_text_p1{
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.title{
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0.5rem
}