.cursor-dot {
  position: fixed;
  width: 6px;
  height: 6px;
  background: var(--accent2);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999999;
  transition: width .2s, height .2s, background .2s
}

.cursor-ring {
  position: fixed;
  width: 32px;
  height: 32px;
  border: 1.5px solid rgba(124, 106, 245, .5);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9998;
  transition: width .3s, height .3s, border-color .3s
}

.cursor-dot.hover {
  width: 10px;
  height: 10px;
  background: var(--gold)
}

.cursor-ring.hover {
  width: 50px;
  height: 50px;
  border-color: var(--gold)
}